@model List<ApplicationCore.Models.MovieCardResponseModel>

@{
    ViewData["Title"] = "Home Page";
}


<div class="rounded">
    <div class="container-fluid bg-light"></div>
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-2">
                <partial name="_MovieCard" model="movie" />
                @*@await Html.PartialAsync("_MovieCard", movie);*@
            </div>
        }
    </div>
</div>


