@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@if (2 == 2) {

    <h3>
        This is inside the if condition
    </h3>
}