@using ApplicationCore.ServiceInterfaces
@inject ICurrentUser currentUser
@inject IPurchaseService purchase

@if (User.Identity.IsAuthenticated)
{
<div class="navbar-collapse collapse">
   
    <ul class="navbar-nav ml-auto">
        @*use info in cookie / claims*@
        <li>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi, @currentUser.FullName
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" asp-controller="User" asp-action="Purchased">My Library(@await purchase.GetAllMoviesByUserId(currentUser.UserId))</a>
                    <a class="dropdown-item">Edit Profile</a>
                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                </div>
            </div>
        </li>

    </ul>
</div>
}
else
{
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item pr-4">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Login"> Login </a>
            </li>
            <li class="nav-item pr-4">
                <a class="btn btn-primary" asp-controller="Account" asp-action="Register"> Register </a>
            </li>
        </ul>
    </div>
}