@model ApplicationCore.Models.MovieCardResponseModel
@*/Movies/Details/29 url*@

@*call moviesController and detail method*@
<div class="card mb-4 shadow bg-light">
    <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">
        <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title">
    </a>
</div>
